/*
Comente todo este css ya que deje el control total a Bootstrap
body {
  width: 400px;
  margin: 0 auto;
  padding-bottom:30px;
  font-family: Arial, sans-serif;
}

fieldset {
  border: 1px solid lightgray;
  margin: 10px 0;
  padding: 15px;
}

input {
  margin-top: 4px;
  margin-bottom: 10px;
}

textarea {
  margin-top: 4px;
  height:80px;
}

button {
  padding:8px 12px;
}
*/


.login-page, .register-page {
    height: auto;
    background: #fff;
}
.media_login {
  background: url(../imagenes/itcoin.jpg) #fff;
  min-height: 100vh;
  background-size: cover;
}
img.logo {
  width: 100%;
}
.login-box, .register-box {
    display: table-cell;
    width: 500px;
    height: 100%;
    padding: 75px 20px;
}
.col-md-12 {
    width: 100%;
    margin: 0;
    padding: 0;
}
.alert {
    padding: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}